html {
  height: 100%;
  width: 100%;
}

.gender-name, #percent, .div-condition, .render-form, .result-render, .level {
  position: absolute;
}

.level {
  top: 175px;
}

#lv-start, #lv-end {
  width: 100px;
}

.gender-name {
/*  display: flex;*/
  margin-top: 10px;
  margin-left: 900px;
}

#name-gender-input {
  margin-left: 10px;
}

#percent {
  top: 125px;
}

.div-condition {
  left: 300px;
}

.render-form {
  display: flex; 
}

.result-render {
  top: 300px;
}

#btn-conditions {
  margin: 10px 15px
}

#condition {
  margin-left: 10px;
}
